*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
#hero header {
    height: 34vh;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0)), url('https://res.cloudinary.com/glovoapp/q_30,h_225,f_auto/e_blur:400/Stores/fft4pvrjtf8k7hqhenme');
    background-position: center;
    background-size: 100%;
    color:#fff;
}
#hero header #header1{
    height: 15vh;
    padding: 1rem 7.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
#hero header #header1 h1{
    font-size: 2.5rem;
}
#hero header #header1 nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
#hero header #header2{
    height:4vh;
    padding: 1.5rem 2.5rem;
    font-size: 0.6rem;
}